@model PunasMarketing.ViewModels.Home.HomeViewModel

@{
    ViewBag.Title = "داشبورد";
}


<div class="layout-content-body">

    <div class="row gutter-xs">
        <div class="col-md-6 col-lg-3 col-lg-push-0">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="media-middle media-left">
                            <span class="bg-primary circle sq-48">
                                <span class="icon icon-user"></span>
                            </span>
                        </div>
                        <div class="media-middle media-body">
                            <h6 class="media-heading">پرسنل ثبت شده</h6>
                            <h3 class="media-heading">
                                <span class="fw-l">@Model.Info.PersonnelCount</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-lg-push-3">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="media-middle media-left">
                            <span class="bg-danger circle sq-48">
                                <span class="icon icon-clock-o"></span>
                            </span>
                        </div>
                        <div class="media-middle media-body">
                            <h6 class="media-heading">کالاهای ثبت شده</h6>
                            <h3 class="media-heading">
                                <span class="fw-l">@Model.Info.ProductCount عدد</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-lg-pull-3">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="media-middle media-left">
                            <span class="bg-primary circle sq-48">
                                <span class="icon icon-shopping-bag"></span>
                            </span>
                        </div>
                        <div class="media-middle media-body">
                            <h6 class="media-heading">کل خرید</h6>
                            <h3 class="media-heading">
                                <span class="fw-l">@Model.Info.BuyPrice.ToString("#,0") ریال</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-lg-pull-0">
            <div class="card">
                <div class="card-body">
                    <div class="media">
                        <div class="media-middle media-left">
                            <span class="bg-danger circle sq-48">
                                <span class="icon icon-usd"></span>
                            </span>
                        </div>
                        <div class="media-middle media-body">
                            <h6 class="media-heading">کل فروش</h6>
                            <h3 class="media-heading">
                                <span class="fw-l">@Model.Info.SellPrice.ToString("#,0") ریال</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row gutter-xs">


        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">میزان کل خرید به تفکیک ماه</h4>
                </div>
                <div class="card-body">
                    <div class="card-chart">
                        <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
                        <canvas class="chart-canvas" id="buyChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">میزان کل فروش به تفکیک ماه</h4>
                </div>
                <div class="card-body">
                    <div class="card-chart">
                        <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
                        <canvas class="chart-canvas" id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row gutter-xs">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions">
                        <button type="button" class="card-action card-toggler" title="Collapse"></button>
                    </div>
                    <strong> چک های دریافتی در انتظار تعیین وضعیت</strong>
                </div>

                <div class="card-body">
                    @if (!Model.PendingReceiveCheques.Any())
                    {
                        <div>چیزی وجود ندارد</div>
                    }
                    else
                    {
                        <table class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                            <thead>
                                <tr class="columnSize">
                                    <th>
                                        نام طرف حساب چک
                                    </th>
                                    <th>
                                        تاریخ سررسید
                                    </th>
                                    <th>
                                        مبلغ (ریال)
                                    </th>
                                    <th>
                                        وضعیت فعلی
                                    </th>
                                    <th>
                                        عملیات
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cheque in Model.PendingReceiveCheques)
                                {
                                    <tr class="columnSize">
                                        <td>
                                            @Html.DisplayFor(modelItem => cheque.CounterPartyName)
                                        </td>
                                        <td>
                                            @cheque.DueDate.ToStringShamsiDate()
                                        </td>
                                        <td>
                                            @($"{cheque.Amount:n0}")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => cheque.StatusName)
                                        <td>
                                            @Html.ActionLink("تعیین وضعیت", "ChequeDetails", "Cheque", new { id = cheque.Id }, new { @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header ">
                    <div class="card-actions">
                        <button type="button" class="card-action card-toggler" title="Collapse"></button>
                    </div>
                    <strong> چک های پرداختی در انتظار تعیین وضعیت</strong>
                </div>
                <div class="card-body">


                    @if (!Model.PendingPayCheques.Any())
                    {
                        <div>چیزی وجود ندارد</div>
                    }
                    else
                    {
                        <table class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                            <thead>
                                <tr class="columnSize">
                                    <th>
                                        نام طرف حساب چک
                                    </th>
                                    <th>
                                        تاریخ سررسید
                                    </th>
                                    <th>
                                        مبلغ (ریال)
                                    </th>
                                    <th>
                                        وضعیت فعلی
                                    </th>
                                    <th>
                                        عملیات
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cheque in Model.PendingPayCheques)
                                {
                                    <tr class="columnSize">
                                        <td>
                                            @Html.DisplayFor(modelItem => cheque.CounterPartyName)
                                        </td>
                                        <td>
                                            @cheque.DueDate.ToStringShamsiDate()
                                        </td>
                                        <td>
                                            @($"{cheque.Amount:n0}")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => cheque.StatusName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("تعیین وضعیت", "ChequeDetails", "Cheque", new { id = cheque.Id }, new { @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    </div>





</div>






@section toastr {
    @Html.Raw(TempData["IndexMessage"])
}


@section scripts
{

    <script src="~/Scripts/Chart.min.js"></script>

    <script>
     var chartData = [];
        var chartLabels = [];
        @foreach (var item in Model.ChartViewModels)
        {
            <text>
                chartData.push( @item.Value);
                chartLabels.push( "@item.Name");
            </text>
        }


        var ctx = document.getElementById('myChart').getContext('2d');


        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: chartLabels,
                datasets: [{
                    label: 'میزان فروش ( ریال )',

                    data: chartData,

                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {


                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false,
                            fontFamily: 'IRANSans',
                        }
                    }]
                }
            }
        });






     var buyChartData = [];
        var buyCharLabels = [];
     @foreach (var buyitem in Model.BuyChartViewModel)
        {
            <text>
        buyChartData.push( @buyitem.Value);
        buyCharLabels.push( "@buyitem.Name");
            </text>
        }


     var bctx = document.getElementById('buyChart').getContext('2d');


        var buyChart = new Chart(bctx, {
         type: 'bar',
         data: {
             labels: buyCharLabels,
             datasets: [{
                 label: 'میزان خرید ( ریال )',

                 data: buyChartData,

                 borderColor: [
                     'rgba(255, 99, 132, 1)',
                     'rgba(54, 162, 235, 1)',
                     'rgba(255, 206, 86, 1)',
                     'rgba(75, 192, 192, 1)',
                     'rgba(153, 102, 255, 1)',
                     'rgba(255, 159, 64, 1)'
                 ],
                 borderWidth: 1
             }]
         },
         options: {


             scales: {
                 yAxes: [{
                     ticks: {
                         beginAtZero: false,
                         fontFamily: 'IRANSans',
                     }
                 }]
             }
         }
     });
    </script>
}
