@model PunasMarketing.ViewModels.OtherTafsili.AddUpdateOtherTafsiliViewModel

<div class="modal-header bg-youtube">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" style="color: white">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">ویرایش حساب تفصیلی</h4>
</div>

@using (Html.BeginForm("UpdateOtherTafsiliModal", "OtherTafsili", FormMethod.Post, new { style = "padding: 10px", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.OtherTafsili.Id)


    <div class="col-xs-12 col-md-12">
        <div class="col-xs-6 col-md-6">
            <div class="md-form-group md-label-static">
                @Html.TextBoxFor(model => model.OtherTafsili.Name, new { @class = "md-form-control", type = "text", spellcheck = "false", required = "" })
                @Html.LabelFor(model => model.OtherTafsili.Name, new { @class = "md-control-label" })
                <span class="has-error md-help-block valError">@Html.ValidationMessageFor(model => model.OtherTafsili.Name)</span>
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="md-form-group md-label-static">
                @Html.DropDownListFor(model => model.OtherTafsili.SarfaslId, new SelectList(Model.MoeenSarfasls, "Id", "CodingAndName"), "-", new {@class = "md-form-control", id = "drpMoeenSarfasls"})
                @Html.LabelFor(model => model.OtherTafsili.SarfaslId, new {@class = "md-control-label"})
                <span class="has-error md-help-block valError">@Html.ValidationMessageFor(model => model.OtherTafsili.SarfaslId)</span>
            </div>
        </div>
    </div>

    <div style="margin: 25px">
        <input id="btnSubmit" class="btn btn-success" type="submit" value="تأیید" />
        <input class="btn btn-danger" type="button" value="لغو" data-dismiss="modal" />
    </div>
}

@Scripts.Render("~/bundles/jqueryval")