@model PunasMarketing.ViewModels.Transaction.PaymentViewModel
@{
    ViewBag.Title = "پرداخت وجه / چک";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="layout-content-body">
    <legend>
        پرداخت وجه/ چک
    </legend>
    @using (Ajax.BeginForm("AddPayment", "Transaction", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "SuccessPayment", OnBegin = "start", OnComplete = "Complete" }, new { id = "PayForm" }))
    {
        @Html.HiddenFor(m => m.pay.TotalAmount)
        @Html.HiddenFor(m => m.PayChequeIds)
    <div class="col-xs-12 col-md-12">
        <div class="col-xs-2 col-md-2">
            <label class="form-label"> پرداخت&nbsp; وجه / چک &nbsp; به  &nbsp;:</label>
        </div>
        <div class="col-xs-2 col-md-2">
            <label class="custom-control custom-control-primary custom-radio">
                <input class="custom-control-input radioactive" type="radio" id="PayType" name="PayType" value="0">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-label">شخص</span>
            </label>
        </div>
        <div class="col-xs-2 col-md-2">
            <label class="custom-control custom-control-primary custom-radio">
                <input class="custom-control-input radioactive" type="radio" id="PayType" name="PayType" value="1">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-label">هزینه</span>
            </label>
        </div>
    </div>
        <div class="col-xs-12 col-md-12" id="PersonSelect" style="display:none">
            <div class="col-xs-6 col-md-6">
                @{
                    List<SelectListItem> PersonType_Items = new List<SelectListItem>();

                    PersonType_Items.Add(new SelectListItem { Text = "پرسنل", Value = "1" });
                    PersonType_Items.Add(new SelectListItem { Text = "مشتری", Value = "2" });
                    PersonType_Items.Add(new SelectListItem { Text = "تامین کننده", Value = "3" });

                }
                <div class="md-form-group md-label-static">
                    @Html.LabelFor(model => model.pay.PersonType, new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.pay.PersonType, PersonType_Items, "انتخاب کنید", new { @class = "form-control", disabled = "disabled" })
                    <span class="has-error md-help-block valError">@Html.ValidationMessageFor(model => model.pay.PersonType)</span>
                </div>
            </div>
            <div class="col-xs-6 col-md-6" id="DrpPerson">
                <div class="md-form-group md-label-static">
                    @Html.LabelFor(model => model.pay.Persons, new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.pay.Persons, Enumerable.Empty<SelectListItem>(), "انتخاب کنید", new { @class = "form-control", disabled = "disabled" })
                    <span class="has-error md-help-block valError">@Html.ValidationMessageFor(model => model.pay.Persons)</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-12" id="Blance">
            </div>
        </div>

        <div class="col-xs-12 col-md-12" id="HesabSelect" style="display:none">
            <div class="col-xs-6 col-md-6">

                <div class="md-form-group md-label-static">
                    @Html.LabelFor(model => model.pay.sarfasl, new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.pay.sarfasl, Model.Sarfasls, "انتخاب کنید", new { @class = "form-control", disabled = "disabled" })
                    <span class="has-error md-help-block valError">@Html.ValidationMessageFor(model => model.pay.sarfasl)</span>
                </div>
            </div>
            <div class="col-xs-6 col-md-6" id="DrpTafsili">
                <div class="md-form-group md-label-static">
                    @Html.LabelFor(model => model.pay.Tafsili, new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.pay.Tafsili, Enumerable.Empty<SelectListItem>(), "انتخاب کنید", new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12" style="">

        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:10px">
            <div class="col-xs-12 col-md-12">
                @Html.LabelFor(model => model.pay.Description, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.pay.Description, new { @class = "form-control" })
                <span class="has-error md-help-block valError">@Html.ValidationMessageFor(model => model.pay.Description)</span>
            </div>
        </div>



        <div class="col-xs-12 col-md-12">
            <div class="margin-top" style="float:left">
                <div class="col-xs-12 col-md-12">
                    <input id="CashAdd" class="btn btn-info" type="submit" value="افزودن پرداخت نقدی" />
                    <input id="BankJarAdd" class="btn btn-warning" type="submit" value="افزودن فیش بانکی" />
                    <input id="ChequeAdd" class="btn btn-danger" type="submit" value="افزودن چک" />
                    <input id="PayCheque" class="btn btn-primary" type="submit" value="خرج چک" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12" style="border-bottom:1px solid #ddd ; margin-top:10px"></div>
        <div id="CashPart">
        </div>
        <div id="CardPart">
        </div>
        <div id="ChequePart">
        </div>
        <div id="PayChequePart">

        </div>
        <div class="col-xs-12 col-md-12" style="border-bottom:1px solid #ddd ; margin-top:10px"></div>
        <div class="col-xs-12 col-md-12">
            <div class="margin-top">
                <div class="col-xs-12 col-md-12">
                    <a href="@Url.Action("Payments", "Transaction")" class="btn btn-default">بازگشت به فهرست</a>
                    <input id="AddReceive" class="btn btn-success" type="submit" value="ثبت اطلاعات" />
                </div>
            </div>
        </div>
    }
</div>
@section Modal{
    <div id="modalAvailableCheque" tabindex="-1" role="dialog" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h4 class="modal-title">لیست چک ها</h4>
                </div>
                <div class="modal-body" id="AvailableChequeList">

                </div>
            </div>
        </div>
    </div>
}
@section toastr{
    @Html.Raw(TempData["saveMassage"])
}

@section scripts{
    @Scripts.Render("~/bundles/Transactionsjs")
    <script>
        function SuccessPayment(data) {
            if (data.RedirectUrl) {
                window.location.href = data.RedirectUrl;
            }
        }
        Addpayment();
    </script>

}